src/main/java/au/edu/mq/cbms/unicarbkb/webservices/model/ws/MsSearchRequest2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="mass" type="mass"/>

  <xs:complexType name="msSearchRequest">
    <xs:sequence>
      <xs:element ref="mass" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="algorithm" type="xs:int" use="required"/>
    <xs:attribute name="numberofresult" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="mass">
    <xs:sequence/>
    <xs:attribute name="mz" type="xs:double" use="required"/>
    <xs:attribute name="intensity" type="xs:double" use="required"/>
  </xs:complexType>
</xs:schema>

